<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>根据图片URL获取图片尺寸.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>096A54CB1DF40B1100236BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096A54E41DF40B1100236BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096A54EF1DF40B1200236BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
